.descriptionWrapper {
    --wrapper-margin: 10px;
    --wrapper-border: 6px;

    display: flex;
    align-items: center;
    height: 110px;
    width: calc(100% - var(--wrapper-margin) * 2 - var(--wrapper-border) * 2);
    margin: var(--wrapper-margin);
    border: var(--wrapper-border) solid #c10fc1;

    h1,
    p {
        color: white;
        font-family: "Nunito", serif;
    }

    p {
        text-align: center;
        overflow: auto;
        margin: 0 10px;
        width: 100%;
        font-size: 20px;
    }

    a {
        font-weight: 500;
        color: #f78ff7;
    }

    span {
        font-weight: 500;
        color: #f78ff7;
        text-decoration: underline;
        cursor: pointer;
    }

    .closeButton {
        z-index: 2;
        width: 25px;
        height: 25px;
        background-color: white;
        position: absolute;
        top: 30px;
        right: 15px;
        border-radius: 50px;
        border: 0;
        cursor: pointer;
    }
}
