.closeButton {
    z-index: 3;
    width: 25px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 30px;
    right: 15px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
}
