.descriptionWrapper {
    margin: 0 10px;
    text-align: center;

    h1, p {
        color: white;
        font-family: 'Nunito', serif;
    }

    p {
        height: 60px;
        overflow: auto;
    }
    
    a {
        font-weight: 600;
        color: white;
    }

    span {
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
    }

    .closeButton {
        z-index: 2;
        width: 25px;
        height: 25px;
        background-color: white;
        position: absolute;
        top: 30px;
        right: 15px;
        border-radius: 50px;
        border: 0;
        cursor: pointer;
    }
}