.adminWrapper {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: {
        left: 15px;
        right: 0;
        top: 15%;
        bottom: 10px;
    }
    background-color: #1f1834;
    z-index: 1;
    color: white;
    font-family: "Nunito", serif;
    border: {
        color: black;
        style: solid;
        width: 2px;
    }
    overflow: auto;

    button {
        position: absolute;
        top: 30px;
        right: 30px;
    }

    .guestBlock {
        border-radius: 15px;
        padding: 5px 20px;
        background-color: #34303e;

        p {
            margin: 0;
        }
    }
}
