.mainWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.imageCarousel {
    position: relative;
    display: flex;
    flex-basis: fit-content;
    width: 100%;
    height: fit-content;
    max-height: 100%;
    overflow: hidden;

    img,
    video {
        width: 100%;
        object-fit: contain;
        aspect-ratio: 4/5;
    }
}

.buttonContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 65px;

    button {
        border: 0;
        width: 100px;
        height: 40px;
        background-color: var(--main-color);
        color: white;
        font-family: "Nunito", serif;
        font-size: 16px;
        cursor: pointer;
        border-radius: 0 50px 50px 0;

        + button {
            border-radius: 50px 0 0 50px;
        }
    }
}
