.mainWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.imageCarousel {
    position: relative;
    display: flex;
    align-items: baseline;
    width: 100%;
    max-width: 500px;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: contain;
    }
}

.buttonContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 20px;

    button {
        border: 0;
        width: 100px;
        height: 40px;
        background-color: #c10fc1;
        color: white;
        font-family: "Nunito", serif;
        font-size: 16px;
        cursor: pointer;
        border-radius: 0 50px 50px 0;

        + button {
            border-radius: 50px 0 0 50px;
        }
    }
}
